@use "../variables" as vars;
@use "../mixins" as mix;
@use "sass:color";

.btn {
  padding: 0.5rem 1rem;
  border-radius: vars.$border-radius;
  @include mix.transition;
  
  &-primary {
    @include mix.button-variant(vars.$primary, white, color.scale(vars.$primary, $lightness: -10%), white);
  }
  
  &-success {
    @include mix.button-variant(vars.$success, white, color.scale(vars.$success, $lightness: -10%), white);
  }
  
  &-danger {
    @include mix.button-variant(vars.$danger, white, color.scale(vars.$danger, $lightness: -10%), white);
  }
  
  &-vote {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    
    &:hover {
      transform: translateY(-2px);
      @include mix.box-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
    }
  }
}