@use "../variables" as vars;
@use "../mixins" as mix;
@use "../tokens" as *;
@use "sass:color";

.navbar {
  &.bg-primary {
    background-color: vars.$primary !important;
  }

  .navbar-brand {
    font-weight: 600;
    color: white;
  }

  .nav-link {
    color: rgba(255, 255, 255, 0.85);
    @include mix.transition;
    
    &:hover {
      color: white;
    }
  }
}